
.home-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden; /* Ensure overflow is hidden if the canvas goes beyond the container */
  }

  .home-content {
    position: relative;
    z-index: 10;
    padding: 20px; /* Add some padding for better readability */
    width: 100%;
    height: 100%;
    justify-content: space-around !important;

    .app-title {
        color: rgb(125, 227, 96);
        font-family: var(--font-editorial);
        text-align: center;
        z-index: 1;
        padding-top: 25px;
    }
  }