/* font inmports */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');



:root {
  /* matrix effect */
  --black: rgb(17, 17, 17);
  --white: rgb(255, 255, 255);
  --green: rgb(0, 204, 51);

  /* fonts */
  --font-editorial: "Press Start 2P";

  /* buttons */
  --btn-ttt: yellow;
  --btn-hangman: rgb(255, 70, 252);
  --btn-simon:  #21ebff;
  --btn-rps: tomato;

}

html {
  background-color: rgb(17, 17, 17);
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
