.btn-home {
  position: fixed;
  top: 20px;
  left: 20px;
  height: 32px;
  width: 160px;
  background-color: transparent;
  border-radius: 3px;
  padding: 2px 4px;
  font-size: 1rem;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &:hover {
    transform: translateX(-12px);
    background-position: 160px 0;
  }
}

.btn-home-rps {
  border: 2px solid var(--primary-rps);
  a {
    color: var(--primary-rps);
  }
}
.btn-home-ttt {
  border: 2px solid var(--primary-rps);
  a {
    color: var(--primary-rps);
  }
}
.btn-home-simon {
  border: 2px solid var(--primary-rps);
  a {
    color: var(--primary-rps);
  }
}
.btn-home-hangman {
  border: 2px solid var(--h-bg-light);
  a {
    color: var(--h-bg-light);
  }
}
